.hero {
    @extend %flex;
    gap: 24px;
    margin-top: 80px;

    &__content {
        @extend %flex;
        flex-direction: column;
        gap: 30px;
    }

    &__button {
        background-color: $accent;
        color: $primary-light;
        height: 70px;
        text-transform: uppercase;
        border: none;

        &:hover {
            background-color: $accent-hover;
        }
    }
}