.trending {
    margin-top: 150px;

    &__tabs {
        @extend %flex;
        gap: 30px;
        margin-bottom: 40px;
    }

    &__tab {
        background: none;
        background-color: transparent;
        border: none;
        color: $primary-light;
        position: relative;
        text-transform: uppercase;

        &--active::after {
            content: "";
            width: 100%;
            height: 5px;
            background-color: $primary-light;
            position: absolute;
            bottom: -10px;
            left: 0;
        }

        &:hover::after {
            content: "";
            width: 100%;
            height: 3px;
            background-color: $primary-light;
            position: absolute;
            bottom: -10px;
            left: 0;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        width: calc((100% - 60px) / 3);
        position: relative;
        cursor: pointer;

        &:hover::after {
            content: url(../../images/play-icon.svg);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); 
        }

        &:hover::before {
            content: "";
            background-color: rgba(0, 0, 0, 0.3);
            width: 100%;
            height: 100%;
            position: absolute;
        }
    }
}